<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WaterUtility_ConnStr" connectionString="data source=.;initial catalog=WaterUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="WaterInfra_ConnStr" connectionString="Data Source=.;Initial Catalog=WaterInfra;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>