<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Tournaments" connectionString="data source=.\SQLEXPRESS;initial catalog=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
		<!--<add name="TWDB" connectionString="data source=.;initial catalog=TWDB_2;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="TWDB" connectionString="data source=.;initial catalog=WaterUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
		<add name="TWDB" connectionString="data source=.;initial catalog=WaterUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>