<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="Tournaments" connectionString="data source=.\SQLEXPRESS;initial catalog=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="TWDB" connectionString="data source=.;initial catalog=TWDB_2;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="TWDB" connectionString="data source=.;initial catalog=WaterUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
		<add name="TWDB" connectionString="data source=.;initial catalog=WaterUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="WaterInfra_5_ConnStr" connectionString="Data Source=.;Initial Catalog=WaterInfra_5;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>