<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <add name="WaterInfra_ConnStr" connectionString="Data Source=.;Initial Catalog=WaterInfra;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add name="WaterUtility_ConnStr" connectionString="data source=.;initial catalog=WaterUtility;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="opcAddress" value="Kepware.KEPServerEX.V6"/>
    <add key="ExcelTemplateFileName" value="TestData\WB-EasyCalc - sample from GM.xlsm"/>
    <add key="SqliteFile" value="K:\temp\sandbox\Nowy model testowy\testOPC_2021-05-21.wtg.sqlite"/>
  </appSettings>
</configuration>
