<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="WaterInfra_5_ConnStr" connectionString="Data Source=.;Initial Catalog=WaterInfra_5_1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <!--
    <add name="WaterInfra_5_ConnStr" connectionString="Data Source=.;Initial Catalog=WaterInfra_5_2;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    -->
  </connectionStrings>
  <appSettings>
    <add key="SqliteFile" value="K:\temp\sandbox\Nowy model testowy\testOPC.wtg.sqlite"/>
    <!--
    <add key="SqliteFile" value="K:\temp\sandbox\Nowy model testowy\nowy.wtg.sqlite"/>
    -->
  </appSettings>
</configuration>
