<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WaterInfra_ConnStr" connectionString="Data Source=.;Initial Catalog=WaterInfra_5_1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
  <appSettings>
    <add key="SqliteFile" value="K:\temp\sandbox\Nowy model testowy\testOPC_2021-05-21.wtg.sqlite"/>
  </appSettings>
</configuration>